/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(0.25turn, black, rgb(14, 76, 126)) ;
}
